<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cistern Monitoring PWA</span>
  </mat-toolbar-row>
</mat-toolbar> 
<div class="page-components-container">
    <div class="measurement-fields-container">
  <mat-form-field class="measurement-fields">
    <input matInput placeholder="Füllhöhe in Prozent (%)" value="no data" readonly=true>
  </mat-form-field>
  <mat-form-field class="measurement-fields">
    <input matInput placeholder="Füllhöhe in Liter (L)" value="no data" readonly=true>
  </mat-form-field>
  <mat-form-field class="measurement-fields">
    <input matInput placeholder="Zeitstempel der letzten Messung" value="no data" readonly=true>
  </mat-form-field>
  </div>
  <div class="cistern">
      <div class="cistern-waterlevel"></div>
  </div>
</div>
<router-outlet></router-outlet>
