<div class="measurement-fields-container">
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Füllhöhe in Prozent (%)" value="{{measurement.waterlevel_perc}}" readonly=true>
</mat-form-field>
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Füllhöhe in Liter (L)" value="{{measurement.waterlevel_litre}}" readonly=true>
</mat-form-field>
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Zeitstempel der letzten Messung" value="{{measurement.timestamp}}" readonly=true>
</mat-form-field>
</div>