.measurement-fields {
  width: auto;
  margin-right: 2em;
}

.measurement-fields-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: row wrap;
  margin-bottom: 0.5rem;
}

.cistern {
  align-self: center;
  width: 42%;
  height: 42%;
  margin-left: 10em;
  margin-top: 17em;
  display: flex;
  align-items: flex-end;
  background-color: white;
  border-style: solid;
  border-width: 0 3px 3px 3px;
}

.cistern-container {
  width: 29em;
  height: 35em;
  align-self: center;
  background-image: url("~/assets/images/cistern-optimized-min.png");
  background-repeat: no-repeat;
}

.cistern-waterlevel {
  width: 100%;
  background-color: rgb(32, 131, 212);
}

.page-components-container {
  margin: auto;
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
