<div class="measurement-fields-container">
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Füllhöhe in Prozent (%)" value="{{measurements[0].waterlevel_perc}}" readonly=true>
</mat-form-field>
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Füllhöhe in Liter (L)" value="{{measurements[0].waterlevel_litre}}" readonly=true>
</mat-form-field>
<mat-form-field class="measurement-fields">
        <input matInput placeholder="Zeitstempel der letzten Messung" value="{{measurements[0].timestamp}}" readonly=true>
</mat-form-field>
</div>

